body {
  line-height: 1.5;
  color: white;
  font-family: 'Lato', sans-serif;

  background: url('../images/sausalito_moon_20140513.jpg');
  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 450px;
  /*margin: 40px;*/
  position: absolute;
  bottom: 0px;
  margin: 30px;
  background: rgba(0,0,0,0.35);
  padding: 15px;
  border-radius: 10px;
}

h1 {
  font-size: 50px;
  margin: -10px 0 -5px 0;
  font-family: 'Rokkitt', serif;
}

h2 {
  font-size: 25px;
  margin: 0 0 20px 0;
}

a {
  color: rgb(0, 145, 223);
  text-decoration: none;
}

text {
  font-size: 40px;
  font-style: text;
}